@tailwind base;
@tailwind components;
@tailwind utilities;

debug {
    border: thin red dashed;
}

.game-screen {
    display: grid;
    padding: 0.5rem 1rem;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 0.5rem;
    height: 100vh;
}

.all-other-players-container {
    display: grid;
    row-gap: 0.5em;
    /* grid-template-rows: repeat(3, 1fr); */
}

.other-player-container {
    display: grid;
    grid-template-rows: auto 1fr;
    @apply rounded-md bg-white shadow p-2 border-gray-200 border
}

.other-player-name-header {
    font-weight: 700;
    font-size: 1.25rem;
    line-height: 1.75rem;
}

.other-player-cards-container {
    display: grid;
    grid-template-rows: 1fr 1fr;
    row-gap: 0.5rem;
}

.other-player-workspace {
    @apply border p-1 bg-slate-100 border-gray-300
}

.other-player-hand {
    @apply border p-1 bg-slate-100 border-gray-300
}

.last-column {
    display: grid;
}