<!DOCTYPE html>
<!--suppress ALL -->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>JitterTed's TDD Game</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link th:href="@{/game.css}" href="/static/game.css" rel="stylesheet"/>
    <script src="https://unpkg.com/htmx.org@1.9.12"></script>
    <script src="https://unpkg.com/htmx.org@1.9.12/dist/ext/ws.js"></script>
    <script src="https://kit.fontawesome.com/899946e7ef.js" crossorigin="anonymous"></script>
    <script type="application/javascript">
        function afterWebSocketConnects(event) {
            console.log("afterWebSocketConnects: ", event);
            // event.detail.socketWrapper.send("connect: ");
        }
    </script>
    <script th:inline="javascript">
        window.addEventListener('htmx:ws-open', function (evt) {
            // need the PlayerId here to send it along with the gameHandle
            var gameHandle = [[${gameView.handle}]];
            console.log("htmx:ws-open event", gameHandle, evt);
            event.detail.socketWrapper.send("join:" + gameHandle);
        })
    </script>
</head>
<body>
<!-- hx-on-htmx-ws-open=""   should work on all elements, but only seems to work when on the same element that does the connect? -->
<div hx-ext="ws"
     ws-connect="/ws/game">
<!--    <form id="gameSelector"-->
<!--          ws-send>-->
<!--        <input hidden type="text" name="gameHandle" th:value="${gameView.handle}">-->
<!--        <button type="submit">Connect</button>-->
<!--    </form>-->
</div>

<!-- Waiting for Game to Begin modal dialog -->
<div id="modal-container" th:style="'display: inherit;'" style="display: none;">
<div id="waiting-room-modal" class="relative z-10" aria-labelledby="modal-title" role="dialog" aria-modal="true">
    <div class="fixed inset-0 bg-gray-500 bg-opacity-50 transition-opacity"></div>

    <div class="fixed inset-0 z-10 w-screen overflow-y-auto">
        <div class="flex min-h-full items-end justify-center p-4 text-center sm:items-center sm:p-0">

            <div class="relative transform overflow-hidden rounded-lg bg-white p-4 text-left shadow-xl transition-all sm:my-8 sm:w-full sm:max-w-sm sm:p-6">
                <div>
                    <h1 class="text-2xl font-bold">Waiting for Game to Begin...</h1>
                    <p>Game Handle: <strong th:text="${gameView.handle}">fill-sky-99</strong> </p>
                    <div class="divide-y divide-gray-500/50">
                        <div class="space-y-6 py-8 text-base leading-7 text-gray-600">
                            <h2 class="text-lg font-semibold">People who have joined:</h2>
                            <ul class="space-y-4" id="joined-players-container">
                                <!--                        <li class="flex items-center" th:each="playerView : ${gameView.playerViews}">-->
                                <!--                          <i class="fa-duotone fa-person-circle-check fa-2xl" style="&#45;&#45;fa-primary-color: #1fdf00; &#45;&#45;fa-secondary-color: #28b900; &#45;&#45;fa-secondary-opacity: 0.7;"></i>-->
                                <!--                          <p class="ml-3">-->
                                <!--                            <strong th:text="${playerView.name}">Blue</strong>-->
                                <!--                          </p>-->
                                <!--                        </li>-->
                                <!--                      <li class="flex items-center" th:each="playerView : ${gameView.playerViews}">-->
                                <!--                        <i class="fa-duotone fa-person-circle-question fa-2xl" style="&#45;&#45;fa-primary-color: #fac000; &#45;&#45;fa-secondary-color: #aa8800; &#45;&#45;fa-secondary-opacity: 0.7;"></i>-->
                                <!--                        <p class="ml-3">-->
                                <!--                          <strong>Yellow</strong> (not yet connected)-->
                                <!--                        </p>-->
                                <!--                      </li>-->
                            </ul>
                            <button type="button"
                                    th:hx-post="@{/game/{handle}/start-game(handle=${gameView.handle()})}"
                                    hx-trigger="click"
                                    class="rounded-md bg-green-600 px-3.5 py-2 text-md font-semibold text-white shadow-sm hover:bg-green-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-green-600">
                                Start Game
                            </button>
                        </div>
                        <div class="pt-6 text-base leading-7">
                            <p class="text-gray-900 font-semibold">Notifications:</p>
                            <ul id="notification-container"
                                class="list-disc ml-4">
                                <!--                        <li>(notifications will appear here)</li>-->
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

<dialog id="dialog" class="p-8">
    <div>
        <h1>Dialog Contents Will Go Here</h1>
    </div>
</dialog>

<div class="game-screen">
    <div class="other-players" id="other-players">
        <!-- HTMX TARGET for PLAYER with ID of 1  -->
        <div id="player-id-1"
             class="other-player-container">
            <h2 class="name">
                Player with ID of 1
            </h2>
            <div class="other-player-container">
                Workspace
                <div class="workspace">
                    <div id="your-in-play" class="in-play">
                        <div class="card">
                            <img src="/static/write-code.png"
                                 th:src="@{/write-code.png}">
                        </div>
                        <div class="card">
                            <img src="/static/less-code.png"
                                 th:src="@{/less-code.png}">
                        </div>
                        <div class="card">
                            <img src="/static/predict.png"
                                 th:src="@{/predict.png}">
                        </div>
                    </div>
                </div>
                <div class="titled-container">
                    Hand
                    <div class="hand">
                        <div class="card"><img src="/static/cant-assert.png"></div>
                        <div class="card"><img src="/static/predict.png"></div>
                        <div class="card"><img src="/static/less-code.png"></div>
                        <div class="card"><img src="/static/refactor.png"></div>
                        <div class="card"><img src="/static/write-code.png"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="play-area">
        <div class="hex-tile-grid">
            <div class="hex-tile hex-tile-stack" id="what-should-it-do-hex-tile">
                <div class="hex-tile-stack-background">
                    <img src="/static/Hex%20Tile%201%20-%20What%20Should%20It%20Do.png"
                         th:src="@{'/Hex%20Tile%201%20-%20What%20Should%20It%20Do.png'}">
                </div>
            </div>
            <div class="hex-tile hex-tile-stack" id="how-will-you-know-it-did-it-hex-tile">
                <div class="hex-tile-stack-background">
                    <img src="/static/Hex%20Tile%202%20-%20How%20Will%20You%20Know%20It%20Did%20It.png"
                         th:src="@{'/Hex%20Tile%202%20-%20How%20Will%20You%20Know%20It%20Did%20It.png'}">
                </div>
            </div>
            <div class="hex-tile hex-tile-stack" id="write-code-for-test-hex-tile">
                <div class="hex-tile-stack-background">
                    <img src="/static/Hex%20Tile%203%20-%20Write%20Code%20for%20Test.png"
                         th:src="@{'/Hex%20Tile%203%20-%20Write%20Code%20for%20Test.png'}">
                </div>
            </div>
            <div class="hex-tile hex-tile-stack" id="predict-test-will-fail-to-compile-hex-tile">
                <div class="hex-tile-stack-background">
                    <img src="/static/Hex%20Tile%204%20-%20Predict%20Test%20Fail%20Compile.png"
                         th:src="@{'/Hex%20Tile%204%20-%20Predict%20Test%20Fail%20Compile.png'}">
                </div>
            </div>
            <div class="hex-tile hex-tile-stack" id="write-code-so-test-compiles-hex-tile">
                <div class="hex-tile-stack-background">
                    <img src="/static/Hex%20Tile%205%20-%20Write%20Code%20So%20Test%20Compiles.png"
                         th:src="@{'/Hex%20Tile%205%20-%20Write%20Code%20So%20Test%20Compiles.png'}">
                </div>
            </div>
            <div class="hex-tile hex-tile-stack" id="predict-test-will-fail-hex-tile">
                <div class="hex-tile-stack-background">
                    <img src="/static/Hex%20Tile%206%20-%20Predict%20Test%20Will%20Fail.png"
                         th:src="@{'/Hex%20Tile%206%20-%20Predict%20Test%20Will%20Fail.png'}">
                </div>
            </div>
            <div class="hex-tile hex-tile-stack">
                <div class="hex-tile-stack-background" id="write-code-for-feature-hex-tile">
                    <img src="/static/Hex%20Tile%207%20-%20Write%20Code%20For%20Feature.png"
                         th:src="@{'/Hex%20Tile%207%20-%20Write%20Code%20For%20Feature.png'}">
                </div>
            </div>
            <div class="hex-tile hex-tile-stack">
                <div class="hex-tile-stack-background" id="predict-test-now-passes-hex-tile">
                    <img src="/static/Hex%20Tile%208%20-%20Predict%20Test%20Now%20Passes.png"
                         th:src="@{'/Hex%20Tile%208%20-%20Predict%20Test%20Now%20Passes.png'}">
                </div>
            </div>
            <div class="hex-tile hex-tile-stack">
                <div class="hex-tile-stack-background" id="commit-code-hex-tile">
                    <img src="/static/Hex%20Tile%209%20-%20Commit%20Code.png"
                         th:src="@{'/Hex%20Tile%209%20-%20Commit%20Code.png'}">
                </div>
            </div>
        </div>
        <div class="last-column">
            <div id="action-card-deck" class="card-deck action-cards">
                <div id="action-card-draw-pile" class="draw-pile">
                    <img src="/static/action-card-back.png"
                    th:src="@{'/action-card-back.png'}">
                </div>
                <div id="action-card-discard-pile" class="draw-pile">
                    <img src="/static/refactor.png"
                    th:src="@{'/refactor.png'}">
                </div>
            </div>
            <div id="test-results-deck" class="card-deck">
                <div id="test-results-draw-pile" class="draw-pile">
                    <img src="/static/test-results-back.png"
                         th:src="@{'/test-results-back.png'}">
                </div>
                <div id="test-results-discard-pile" class="draw-pile">
                    <img src="/static/test-results-2-or-more.png"
                         th:src="@{'/test-results-2-or-more.png'}">
                </div>
            </div>
        </div>
        <div id="you" class="your-play-area">
            <h2>Workspace</h2>
            <div class="workspace">
                <div id="your-in-play" class="in-play">
                    <div class="card">
                        <img src="/static/write-code.png"
                             th:src="@{/write-code.png}">
                    </div>
                    <div class="card">
                        <img src="/static/less-code.png"
                             th:src="@{/less-code.png}">
                    </div>
                    <div class="card">
                        <img src="/static/predict.png"
                             th:src="@{/predict.png}">
                    </div>
                </div>
            </div>
            <div class="titled-container">
                Your Hand
                <div class="hand">
                    <button hx-get="/game/{gameHandle}/card-menu/CANT_ASSERT"
                            hx-on::after-settle="document.querySelector('dialog').showModal()"
                            hx-swap="none"
                            class="card">
                        <img src="/static/cant-assert.png"
                             th:src="@{/cant-assert.png}">
                    </button>
                    <div class="card">
                        <img src="/static/code-bloat.png"
                             th:src="@{/code-bloat.png}">
                    </div>
                    <div class="card">
                        <img src="/static/less-code.png"
                             th:src="@{/less-code.png}">
                    </div>
                    <div class="card">
                        <img src="/static/predict.png"
                             th:src="@{/predict.png}">
                    </div>
                    <div class="card">
                        <img src="/static/write-code.png"
                             th:src="@{/write-code.png}">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>
