<!DOCTYPE html>
<!--suppress ALL -->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>JitterTed's TDD Game</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://unpkg.com/htmx.org@1.9.12"></script>
    <script src="https://unpkg.com/htmx.org@1.9.12/dist/ext/ws.js"></script>
  <script src="https://kit.fontawesome.com/899946e7ef.js" crossorigin="anonymous"></script>    <script type="application/javascript">
        function afterWebSocketConnects(event) {
            console.log("afterWebSocketConnects: ", event);
            event.detail.socketWrapper.send("connect: ");
        }
    </script>
    <script th:inline="javascript">
        window.addEventListener('htmx:ws-open', function (evt) {
            var gameHandle = [[${gameView.handle}]];
            console.log("htmx:ws-open event", gameHandle, evt);
            event.detail.socketWrapper.send("connect:" + gameHandle);
        })
    </script>
</head>
<body>
<!-- hx-on-htmx-ws-open=""   should work on all elements, but only seems to work when on the same element that does the connect? -->
<div hx-ext="ws"
     ws-connect="/ws/game">WebSocket connector
<!--    <form id="gameSelector"-->
<!--          ws-send>-->
<!--        <input hidden type="text" name="gameHandle" th:value="${gameView.handle}">-->
<!--        <button type="submit">Connect</button>-->
<!--    </form>-->
</div>

<div class="relative flex min-h-screen flex-col justify-center overflow-hidden bg-gray-50 py-6 sm:py-12">
    <div class="relative bg-white pt-10 pb-8 shadow-xl ring-1 ring-gray-900/5 mx-auto max-w-lg rounded-lg px-14">
        <div class="mx-auto max-w-md">
            <h1 class="text-2xl font-bold">Waiting for Game to Begin...</h1>
            <p>Game Handle: <strong th:text="${gameView.handle}">fill-sky-99</strong> </p>
            <div class="divide-y divide-gray-500/50">
                <div class="space-y-6 py-8 text-base leading-7 text-gray-600">
                    <h2 class="text-lg font-semibold">People who have joined:</h2>
                    <ul class="space-y-4" id="joined-players-container">
                        <li class="flex items-center" th:each="playerView : ${gameView.playerViews}">
                          <i class="fa-duotone fa-person-circle-check fa-2xl" style="--fa-primary-color: #1fdf00; --fa-secondary-color: #28b900; --fa-secondary-opacity: 0.7;"></i>
                          <p class="ml-3">
                            <strong th:text="${playerView.name}">Blue</strong>
                          </p>
                        </li>
<!--                      <li class="flex items-center" th:each="playerView : ${gameView.playerViews}">-->
<!--                        <i class="fa-duotone fa-person-circle-question fa-2xl" style="&#45;&#45;fa-primary-color: #fac000; &#45;&#45;fa-secondary-color: #aa8800; &#45;&#45;fa-secondary-opacity: 0.7;"></i>-->
<!--                        <p class="ml-3">-->
<!--                          <strong>Yellow</strong> (not yet connected)-->
<!--                        </p>-->
<!--                      </li>-->
                    </ul>
                </div>
                <div class="pt-6 text-base leading-7">
                    <p class="text-gray-900 font-semibold">Notifications:</p>
                    <ul id="notification-container"
                        class="list-disc ml-4">
                        <li>(notifications will appear here)</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>


</body>
</html>
