<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Choose or Host a Game</title>
</head>
<body>

<p>Hello <span th:text="${personName}">Pink</span>, how are you?</p>

<h1>Which Game Would You Like to Join?</h1>
<ul>
    <li th:each="gameView : ${gameViews}">
        <span th:text="${gameView.name}">Game Name</span>
        -
        <span style="font-family: monospace;" th:text="${gameView.handle}">Game Handle</span>
        - Player Count =
        <span th:text="${gameView.playerCount}">0</span>
    </li>
</ul>
<form action="#" th:action="@{/join}" method="post">
    <label for="gameHandle">Game Handle:</label>
    <input id="gameHandle" type="text" name="gameHandle"/>
    <button type="submit">Join Game</button>
</form>

<h2>Host New Game</h2>
<form action="#" th:action="@{/games}" method="post">
    <input type="number" name="newGameName" placeholder="99"/>
    <button>Host Game</button>
</form>

</body>
</html>